@layer theme, base, mantine, components, utilities;
@import "tailwindcss";
@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-sans);
}
